* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 350px;
    background: white;

    padding: 35px;
    border-radius: 12px;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    padding: 12px;
    margin-bottom: 15px;

    border: 1px solid #ccc;
    border-radius: 8px;

    font-size: 15px;
}

input:focus {
    outline: none;
    border-color: #4a90e2;
}

button {
    padding: 12px;

    background-color: #4a90e2;
    color: white;

    border: none;
    border-radius: 8px;

    cursor: pointer;

    font-size: 16px;
    margin-top: 5px;
}

button:hover {
    background-color: #357abd;
}

.link {
    margin-top: 20px;
    text-align: center;
}

.link a {
    text-decoration: none;
    color: #4a90e2;
    font-size: 14px;
}

.link a:hover {
    text-decoration: underline;
}

select {
    padding: 12px;
    margin-bottom: 15px;

    border: 1px solid #ccc;
    border-radius: 8px;

    font-size: 15px;
    width: 100%;
}

select:focus {
    outline: none;
    border-color: #4a90e2;
}

#majorField,
#subjectField {
    width: 100%;
}